<div class="popover" id="addDoctorPopover">
  <button class="secondary" @click="toggleAddDoctorPopover">
    <%- include('../icons/doctor.svg'); %>Add Doctor
  </button>
  <div class="popoverWrapper" v-if="ui.showAddDoctorPopover">
    <div class="popoverBlocker" @click="toggleAddDoctorPopover"></div>
    <div class="popoverContent">
      <form class="newDoctorForm">
        <select id="newDoctor" name="newDoctor">
          <option selected disabled>Doctor:</option>
          <option v-for="doctor in doctors" value="">
            {{ doctor.last }}, {{ doctor.first }}
          </option>
        </select>
        <select id="newShift" name="newShift">
          <option selected disabled>Shift:</option>
          <option v-for="shift in shiftDetails">{{ shift.name }}</option>
        </select>
        <select id="newRotation" name="newRotation">
          <option selected disabled>Rotation:</option>
          <option v-for="rot in board.rotations">{{ rot.name }}</option>
        </select>
        <button class="secondary" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>
