<div class="popover" id="addDoctorPopover">
  <button class="secondary" @click="toggleAddShiftPopover">
    <%- include('../icons/doctor.svg'); %>Add Doctor
  </button>
  <div class="popoverWrapper" v-if="ui.showAddShiftPopover">
    <div class="popoverBlocker" @click="toggleAddShiftPopover"></div>
    <div class="popoverContent">
      <form class="newDoctorForm">
        <select v-model="forms.addShift.doctor">
          <option selected disabled value="">Doctor:</option>
          <option v-for="doctor in doctors" :value="doctor">
            {{ doctor.last }}, {{ doctor.first }}
          </option>
        </select>
        <select v-model="forms.addShift.shift">
          <option selected disabled value="">Shift:</option>
          <option v-for="shift in shiftDetails" :value="shift">
            {{ shift.name }}
          </option>
        </select>
        <div class="warn" v-if="forms.addShift.shift.id === 1">
          Adding 6 am shift will reset the whole board.
        </div>
        <select v-model="forms.addShift.rotationId">
          <option selected disabled value="">Rotation:</option>
          <option v-for="rot in board.rotations" :value="rot.id">
            {{ rot.name }}
          </option>
        </select>
        <button class="secondary" type="submit" @click="addShift">Add</button>
      </form>
    </div>
  </div>
</div>
