<!-- Admin Row  -->
<div class="Box-row pt-3 Box-row--blue" v-if="decrementToolFlag">
    <%- include('patient_types_buttons') %>
    <div class="BtnGroup ml-0">
        <button v-for="type in ptTypesAdmin" class="BtnGroup-item btn btn-outline btn-sm" @click="decrement(type, shift.id)">
            - {{ type }} <span class="Counter">{{ shift[type] }}</span>
        </button>
    </div>
    <button class="btn btn-outline btn-small" @click="decrement('turn', shift.id)">
        Turn<span class="Counter">{{ shift.turn }}</span>
    </button>
    <p>Change Shift Time</p>
    <select class="form-select" @change="changeShiftStart($event, shift.id)">
        <option v-for="detail in state.shift_details" :value="detail.id" :selected="detail.name == shift.shift_details.name">{{ detail.name }}</option>
    </select>
    
</div>