<!-- Admin Row  -->
<div class="card-footer" v-if="decrementToolFlag">
    <p class="h6">Change Counts:</p>
    <div class="btn-group mb-2">
        <button v-for="ptType in ptTypesAdmin" :title="'Increase count of '+ptType+' patients'" class="btn btn-outline-secondary btn-sm" @click="increment(ptType, shift.id)">
            + {{ ptType }}
        </button>
        <button v-for="ptType in ptTypesAdmin" class="btn btn-outline-secondary btn-sm" @click="decrement(ptType, shift.id)">
            - {{ ptType }}
        </button>
        <button class="btn btn-outline-secondary btn-sm" @click="decrement('turn', shift.id)">
            - turn <span class="badge text-bg-secondary">{{ shift.turn }}</span>
        </button>
    </div>

    
    <div class="mt-2">
        Change Shift Time:
        <select class="form-select d-inline" @change="changeShiftStart($event, shift.id)">
            <option v-for="detail in state.shift_details" :value="detail.id" :selected="detail.name == shift.shift_details.name">{{ detail.name }}</option>
        </select>
    </div>
</div>