<h4>Assign Patient</h4>
<hr>

<div class="d-flex flex-row ">
  <div class="border-end pe-4">
    <h6>1. Patient Type</h6>

    <label class="d-block mb-3 assign-walk h3">
      <input class="form-check-input" type="radio" name="patient_type" value="walk" v-model="assign_type " v-on:change="getAssignDoc" />
      <strong>Walk In</strong>
    </label>

    <label class="d-block my-3 assign-ambo h3">
      <input class="form-check-input" type="radio" name="patient_type" value="ambo" v-model="assign_type" v-on:change="getAssignDoc" />
      <strong>Ambulance</strong>
    </label>

    <label class="d-block mb-3 assign-ft h3">
      <input class="form-check-input" type="radio" name="patient_type" value="fasttrack" v-model="assign_type" v-on:change="getAssignDoc" />
      <strong>Fast Track</strong>
    </label>

  </div>
  
  <div class="border-end px-4">
    <h6>2. Room</h6>
      <div class="room-grid">
        <div class="" v-for="room in rooms">
          <input type="radio" name="room" :value="room" :id="'room'+room" v-model="assign_room" />
          <label class="d-block" :for="'room'+room"><strong>{{ room }}</strong></label>
        </div>
      </div>

  </div>

  <div class="ps-5">
    <h6>3. Next Physician</h6>
    <p class="h2 bg-body border-bottom border-3 p-2 ">{{ assign_shift.doctor.first }} {{ assign_shift.doctor.last }}</p>
    <button class="btn btn-lg btn-primary" :disabled="assign_room == ''" @click="masterassign">Assign Patient</button>
    <p class="small text-danger">&nbsp;<span v-if="assign_room == ''">Must select a room.</span></p>
    <button class="btn btn-outline-secondary" type="button" @click="undoLastAssign">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
          <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
        </svg>
      Undo Last Assign
  </button>
  </div>
  
</div>

