<div class="popoverContent">
  <label>Patient type:</label>
  <div role="group">
    <button class="secondary" data-tooltip="walk in">
      <%- include('../icons/walkin.svg') %>
    </button>
    <button class="secondary" data-tooltip="ambo">
      <%- include('../icons/ambo.svg') %>
    </button>
    <button class="secondary" data-tooltip="fast track">
      <%- include('../icons/ft.svg') %>
    </button>
    <button class="secondary" data-tooltip="bonus">
      <%- include('../icons/bonus.svg') %>
    </button>
  </div>
  <select id="newRoom" name="newRoom">
    <option selected disabled>Room:</option>
    <option v-for="room in rooms" :value="room">{{ room }}</option>
  </select>
  <button class="contrast">Assign</button>
</div>
