<div class="event">
  <div class="eventBox">
    <div
      class="eventIcon"
      :class="[
        event.type !== 'assign' ? 'eventIconBell' : '', 
        event.patient?.type === 'ambo' ? 'eventIconAmbo' : '',
        event.patient?.type === 'ft' ? 'eventIconFt' : '',
        event.patient?.type === 'walkin' ? 'eventIconWalkin' : '',
        event.patient?.type === 'bonus' ? 'eventIconBonus' : ''
      ]"
    ></div>

    <!-- non-assign event -->
    <div v-if="event.type !=='assign'">
      <div>{{ event.time }}</div>
      <div>{{ event.message }}</div>
    </div>

    <!-- assign event -->
    <div v-else class="eventAssignDetail">
      <div>
        <div class="eventAssignTime">{{ event.time }}</div>
        <div class="eventAssignDoc">
          {{ event.shift.doctor.first }} {{ event.shift.doctor.last }}
        </div>
        <div class="eventReassign" v-if="event.reassign">
          Reassigned to: <b>{{ event.reassign.last }}</b>
        </div>
      </div>

      <div class="eventAssignRoom">
        <div>{{ event.patient.room }}</div>
        <template v-if="!event.reassign"
          ><%- include('./reassignPopover.ejs') %></template
        >
      </div>
    </div>
  </div>

  <div v-if="index === 0 && nurse">
    <button class="undo secondary outline" @click="undo">
      <%- include ('../icons/undo.svg') %> Undo
    </button>
  </div>
</div>
