<!-- Header  -->
<h4>Fast Track</h4>
<hr>

<% if (user.role=='admin') { %>
<!-- <div class="color-bg-inset p-3 rounded mb-3">
    <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm6.5-.25A.75.75 0 017.25 7h1a.75.75 0 01.75.75v2.75h.25a.75.75 0 010 1.5h-2a.75.75 0 010-1.5h.25v-2h-.25a.75.75 0 01-.75-.75zM8 6a1 1 0 100-2 1 1 0 000 2z"></path></svg>
    If physician here, they will take Fast Track patients.    
</div> -->
<% } %>

<!-- Blankslate  -->
<div v-if="state.shifts.ft_rotation.length == 0" class="alert alert-light">
    <% if (user.role=='admin') { %>
        Use the <strong>Fast Track button</strong> to move a physician<br> out of rotation and in to Fast Track role.
    <% } %>

    <% if (user.role=='user') { %>
        No doctor assigned to <strong>Fast Track</strong>.
    <% } %>
</div>

<template v-for="(shift, index) in state.shifts.ft_rotation">
    <div class="card mb-3 ">
        <% if (user.role=='admin') { %>
            <div class="card-header d-flex justify-content-between color-fasttrack">
                <div class="btn-group ms-auto">
                    <button class="btn btn-sm btn-outline-secondary" @click="rejoin(shift.id)">On Rotation</button>
                    <button class="btn btn-sm btn-outline-secondary" @click="goOffRotation(shift.id, 2, 'off')">Off Rotation</button>
                </div>
            </div>
        <% } %>
        <div class="card-body color-fasttrack">
            <div class="small text-secondary mb-1">{{ shift.shift_details.name }}<span v-if="shift.turn == 0"> - First Turn</span></div>
            <div class="h5">{{ shift.doctor.first }} {{ shift.doctor.last }}</div>
            <span class="badge bg-secondary-subtle text-body">Patients {{ shift.patient }}</span>
            <span class="badge bg-secondary-subtle text-body">Fast Track {{ shift.fasttrack }}</span>
        </div>

        <% if (user.role == 'admin') { %>
            <%- include('admin_pt_types_buttons') %>
        <% } %>
    </div>
</template>


<!-- <button class="btn btn-sm mr-2 btn-primary" @click="increment('fasttrack', shift.id)">Assign FastTrack</button> -->
