<!-- Header  -->
<div class="Subhead">
    <p class="Subhead-heading h2">Fast Track</p>
    <span class="Subhead-actions State State--draft mr-2" v-if="loaders.includes('off')">
        Loading<span class="AnimatedEllipsis"></span>
    </span>
</div>

<% if (user.role=='admin') { %>
<div class="color-bg-inset p-3 rounded mb-3">
    <svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8zm6.5-.25A.75.75 0 017.25 7h1a.75.75 0 01.75.75v2.75h.25a.75.75 0 010 1.5h-2a.75.75 0 010-1.5h.25v-2h-.25a.75.75 0 01-.75-.75zM8 6a1 1 0 100-2 1 1 0 000 2z"></path></svg>
    If physician here, they will take Fast Track patients.    
</div>
<% } %>

<!-- Blankslate  -->
<div v-if="state.shifts.ft_rotation.length == 0" class="blankslate color-bg-inset rounded">
    <% if (user.role=='admin') { %>
        <p>Use the <strong>Fast Track button</strong> to move a physician<br> out of rotation and in to Fast Track role.</p>
    <% } %>

    <% if (user.role=='user') { %>
        <p>No doctor assigned to <strong>Fast Track</strong>.</p>
    <% } %>

</div>

<!-- Boxes  -->
<div class="Box mb-2" v-for="shift in state.shifts.ft_rotation">
    <div class="Box-row p-2 color-bg-success">
        <div class="d-flex flex-items-center">
            <div class="flex-auto">
                <p class="h3">{{ shift.doctor.first }} {{ shift.doctor.last }}</p>
                <p class="text-small color-fg-subtle">{{ shift.shift_details.name }}</p>
            </div>
            <% if (user.role=='admin') { %>
            <div class="BtnGroup">
                <button class="btn btn-sm btn-outline BtnGroup-item" @click="rejoin(shift.id)">On Rotation</button>
                <button class="btn btn-sm btn-outline BtnGroup-item" @click="goOffRotation(shift.id, 2, 'off')">Off Rotation</button>
            </div>
            <% } %>
        </div> 
        <div class="d-none d-sm-block">
        <% if (user.role == 'user') { %> 
            <%- include('patient_types_buttons') %>
        <% } %> 
        </div>
    </div>

    <div class="d-none d-sm-block">
        <% if (user.role == 'user') { %> 
            <div class="Box-row color-bg-success">
                Cover <strong>Triage A, B, Room 23</strong> or any other <strong>ESI 4s or 5s</strong>.
            </div>
            <div class="Box-row color-bg-success">
                Do <strong>Provider-in-Triage</strong> work (greet and initial orders) at Triage Desk for waiting room patients, or in main ED.
            </div>
        <% } %>
    </div>

    <% if (user.role == 'admin') { %> 
        <%- include('admin_pt_types_buttons') %>
    <% } %>
</div>


