<div class="Subhead Subhead">
    <h2 class="Subhead-heading">Join Rotation</h2>
    <span class="Subhead-actions State State--draft mr-2" v-if="loaders.includes('join')">
        Loading<span class="AnimatedEllipsis"></span>
    </span>
</div>

<div>
    <div class="d-flex">
        <label class="flex-auto"  for="physician-select">Physician: </label>
        <select class="form-select" v-model="newDoctor" id="physician-select">
            <option diasabled value=""></option>
            <option v-for="doc in state.doctors.filter(d=>!d.working)" :value="doc.id">
                {{ doc.last }}, {{ doc.first }}
            </option>
        </select>
    </div>
    <div class="d-flex mt-2">
        <label class="flex-auto" for="shift-select">Shift Start Time:</label>
        <select v-model="newShift" class="form-select float-right" id="shift-select">
            <option v-for="detail in state.shift_details" :value="detail.id">{{ detail.name }}</option>
        </select>
    </div>

    <div v-if="newShift == 1" class="flash flash-warn mt-3">
        <p><svg class="octicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M8.22 1.754a.25.25 0 00-.44 0L1.698 13.132a.25.25 0 00.22.368h12.164a.25.25 0 00.22-.368L8.22 1.754zm-1.763-.707c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0114.082 15H1.918a1.75 1.75 0 01-1.543-2.575L6.457 1.047zM9 11a1 1 0 11-2 0 1 1 0 012 0zm-.25-5.25a.75.75 0 00-1.5 0v2.5a.75.75 0 001.5 0v-2.5z"></path></svg>
            It looks like you are starting the <strong>6 am shift</strong>.</p>
        <p>Do you want to reset the board and start a fresh rotation?</p>
        <button class="btn btn-danger mb-2" @click="resetBoard">Yes - reset the board.</button>
        <button class="btn-link" type="button" @click="sixamAlert">No - don't do it. Cancel!</button>
        <p class="mt-2">If you already reset the board, go ahead and <strong>Join Rotation</strong></p>
    </div>

    <div class="d-flex mt-3">
        <div class="flex-auto"></div>
        <button class="btn" @click="joinrotation" :aria-disabled="newShift == '' || newDoctor == ''">Join Rotation</button>
    </div>

</div>