<div class="Box m-5" v-if="!state">
    <div class="blankslate">
        <h3 class="blankslate-heading">Loading<span class="AnimatedEllipsis"></span></h3>
        <p>Retrieving content from server</p>
    </div>
</div>