<div class="popover">
  <button
    class="secondary outline shiftControlButton"
    @click="toggleMovePopover(shift.id)"
  >
    Move
  </button>
  <div class="popoverWrapper" v-if="movePopoverOpen(shift.id)">
    <div class="popoverBlocker" @click="toggleMovePopover(shift.id)"></div>
    <div class="popoverContent">
      <details class="dropdown">
        <summary>Move to:</summary>
        <ul>
          <template v-for="rot in board.rotations">
            <li v-if="rot.name !== rotation.name">
              <a href="#">{{ rot.name }}</a>
            </li>
          </template>
        </ul>
      </details>
    </div>
  </div>
</div>
