<nav>
  <ul>
    <li><strong>Patient Assignment Tool</strong> <small>version 0.2</small></li>
  </ul>
  <ul>
    <li><%- include('./addDoctorPopover.ejs'); %></li>
    <li>
      <a role="button" class="contrast" href="/logout">
        Logout&nbsp;&nbsp;<%- include('../icons/logout.svg'); %>
      </a>
    </li>
  </ul>
</nav>
