<nav>
  <ul>
    <li><strong>Patient Assignment Tool</strong> <small>version 0.2</small></li>
  </ul>
  <ul>
    <li><%- include('./addDoctorPopover.ejs'); %></li>
    <li>
      <button class="contrast" href="/logout">
        Logout<%- include('../icons/logout.svg'); %>
      </button>
    </li>
  </ul>
</nav>
