<nav>
  <ul>
    <li><strong>Patient Assignment Tool</strong> <small>version 0.2</small></li>
  </ul>
  <ul>
    <li><%- include('./addShiftPopover.ejs'); %></li>
    <li>
      <a class="contrast" href="/logout">
        Logout <%- include('../icons/logout.svg'); %>
      </a>
    </li>
  </ul>
</nav>
