<div class="Header color-bg-accent-emphasis">
    <div class="Header-item"><span>Patient Assignment Tool</span></div>
</div>

<div class="blankslate" v-if="!state">
    <h3 class="blankslate-heading">Loading<span class="AnimatedEllipsis"></span></h3>
    <p>Retrieving content from server</p>
</div>