<div class="Header color-epg-pink">
    <div class="Header-item Header-item--full h3"><span>Patient Assignment Tool</span></div>
    <a class="btn btn-danger" href="/logout">Logout</a>
</div>

<div class="blankslate" v-if="!state">
    <h3 class="blankslate-heading">Loading<span class="AnimatedEllipsis"></span></h3>
    <p>Retrieving content from server</p>
</div>