<!-- Header  -->

<div class="Subhead">
    <p class="Subhead-heading h2">Off Rotation</p>
    <span class="Subhead-actions State State--draft mr-2" v-if="loaders.includes('off')">
        Loading<span class="AnimatedEllipsis"></span>
    </span>
</div>

<!-- Blankslate  -->
<div v-if="state.shifts.off_rotation.length < 1" class="blankslate color-bg-inset rounded">
    <p class="h4" class="blankslate-heading">No doctors off rotation</p>
</div>

<!-- Boxes  -->
<div class="Box Box--condensed mb-2" v-for="(shift, index) in state.shifts.off_rotation">
    <div class="Box-row Box-row--gray p-2">
        <div class="d-flex flex-items-center">
            <div class="flex-auto">
                <p class="h3 color-fg-muted">{{ shift.doc_name }}</p>
                <p class="text-small color-fg-subtle">{{ shift.shift_details.name }}</p>
            </div>
            <button v-if="doctor_id == shift.doc_id || doctor_id =='1'" class="btn btn-sm btn-outline" @click="rejoin(shift.id)">Rejoin</button>
        </div> 
        <% if (user.role == 'user') { %> 
            <%- include('patient_types_buttons') %>  
            <% } %>
    </div>
    <% if (user.role == 'admin') { %> 
        <%- include('admin_pt_types_buttons') %>
    <% } %>
</div>
