<!-- Header  -->
<div class="Subhead">
    <p class="Subhead-heading h2">Off Rotation</p>
</div>

<!-- Blankslate  -->
<div v-if="state.shifts.off_rotation.length == 0" class="blankslate color-bg-inset rounded">
    <p>Use the <strong>Off Rotation button</strong> to move<br>any physician Off Rotation.</p>
</div>

<!-- Boxes  -->
<div class="Box Box--condensed mb-2" v-for="(shift, index) in state.shifts.off_rotation">
    <div class="Box-row Box-row--gray p-2">
        <div class="d-flex flex-items-center">
            <div class="flex-auto">
                <p class="h3 color-fg-muted">{{ shift.doctor.first }} {{ shift.doctor.last }}</p>
                <p class="text-small color-fg-subtle">{{ shift.shift_details.name }}</p>
            </div>
            <% if (user.role == 'admin') { %> 
            <div class="BtnGroup">
                <button class="btn btn-sm btn-outline BtnGroup-item" @click="rejoin(shift.id)">On Rotation</button>
                <button class="btn btn-sm btn-outline BtnGroup-item" @click="goOffRotation(shift.id, 3, 'off')">Fast Track</button>
            </div>
            <% } %>  
        </div> 
        <% if (user.role == 'user') { %> 
            <%- include('patient_types_buttons') %>
        <% } %>  
    </div>
    <% if (user.role == 'admin') { %> 
        <%- include('admin_pt_types_buttons') %>
    <% } %>
</div>
