<!-- Header  -->

<div class="Subhead">
    <p class="Subhead-heading h2">Off Rotation</p>
    <span class="Subhead-actions State State--draft mr-2" v-if="loaders.includes('off')">
        Loading<span class="AnimatedEllipsis"></span>
    </span>
</div>

<!-- Blankslate  -->
<div v-if="state.shifts.off_rotation.length < 1" class="blankslate color-bg-inset rounded">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg>
    <p class="h4" class="blankslate-heading">No doctors off rotation</p>
</div>

<!-- Boxes  -->
<div class="Box Box--condensed mb-2" v-for="(shift, index) in state.shifts.off_rotation">
    <div class="Box-row Box-row--gray p-2">
        <div class="d-flex flex-items-center">
            <div class="flex-auto">
                <p class="h3 color-fg-muted">{{ shift.doc_name }}</p>
                <p class="text-small color-fg-subtle">{{ shift.shift_details.name }}</p>
            </div>
            <button v-if="doctor_id == shift.doc_id || doctor_id =='1'" class="btn btn-sm btn-outline" @click="rejoin(shift.id)">Rejoin</button>
        </div> 
        <%- include('patient_types_buttons') %>  
    </div>
</div>
