<!-- Header  -->
<h4>Off Rotation</h4>
<hr>


<!-- Blankslate  -->
<div v-if="state.shifts.off_rotation.length == 0" class="alert alert-light">
    <% if (user.role == 'admin') { %> 
        Use the <strong>Off Rotation</strong> button to move any physician Off Rotation.
    <% } %>

    <% if (user.role == 'user') { %> 
        No doctors <strong>Off Rotation</strong>.
    <% } %>
</div>

<template v-for="(shift, index) in state.shifts.off_rotation">
    <div class="card bg-light mb-3">
        <% if (user.role=='admin') { %>
            <div class="card-header d-flex justify-content-between">
                <div class="btn-group ms-auto">
                    <button class="btn btn-sm btn-outline-secondary" @click="rejoin(shift.id)">On Rotation</button>
                    <button class="btn btn-sm btn-outline-secondary" @click="goOffRotation(shift.id, 3, 'off')">Fast Track</button>
                </div>
            </div>
        <% } %>
        <div class="card-body">
            <div class="small text-secondary mb-1">{{ shift.shift_details.name }}<span v-if="shift.turn == 0"> - First Turn</span></div>
            <div class="h5">{{ shift.doctor.first }} {{ shift.doctor.last }}</div>
            <span class="badge bg-secondary-subtle text-body">Patients {{ shift.patient }}</span>
            <span class="badge bg-secondary-subtle text-body">Fast Track {{ shift.fasttrack }}</span>
        </div>

        <% if (user.role == 'admin') { %>
            <%- include('admin_pt_types_buttons') %>
        <% } %>
    </div>
</template>
