<div class="d-flex">
  <div class="flex-auto">
      <span class="Label Label--accent Label--large flex-auto">Pts: {{ shift.patient }}</span>
      <span class="Label Label--accent Label--large flex-auto">FT: {{ shift.fasttrack }}</span>
  </div>
</div>

