<template v-for="shift in findShiftsByRotation(rotation.id)">
  <div class="shiftBox" :class="getShiftClasses(rotation, shift)">
    <div class="shiftNextFlag">next in rotation</div>
    <div v-if="nurse" class="shiftControls">shift controls</div>
    <div class="shiftContent">
      <div>
        <div class="shiftName">{{ shift.name }}</div>
        <div class="shiftDoc">
          {{ shift.doctor.first }} {{ shift.doctor.last }}
        </div>
      </div>
      <div>
        <button v-if="nurse && isNext(rotation, shift)" class="contrast">
          Assign &nbsp;&nbsp;<%- include('../icons/walkin.ejs'); %>
        </button>
      </div>
    </div>
    <ul v-if="shift.counts.total > 0">
      <li v-for="(count, key) in shift.counts">
        {{ key }}<span class="shiftCountNumber">{{ count }}</span>
      </li>
    </ul>
  </div>
</template>
