<div class="shiftBox">
  <div class="shiftMain">
    <div>
      <div class="shiftName">{{ shift.name }}</div>
      <div class="shiftDoc">
        {{ shift.doctor.first }} {{ shift.doctor.last }}
      </div>
    </div>
    <div>
      <button class="contrast" v-if="nurse">
        Assign &nbsp;&nbsp;<%- include('../icons/walkin.ejs'); %>
      </button>
    </div>
  </div>
  <ul>
    <li v-for="(count, key) in shift.counts">
      {{ key }}<span class="shiftCountNumber">{{ count }}</span>
    </li>
    <!-- <li>total<span class="shiftCountNumber">5</span></li>
              <li>walk-in<span class="shiftCountNumber">2</span></li> -->
  </ul>
</div>
