<div class="Subhead mt-4">
    <p class="Subhead-heading h2">Tips</p>
</div>

<div class="Box color-bg-accent">
    <div class="Box-body">
        To assign a patient, enter a <strong>patient identifier</strong> in the text box and press <strong>Assign Patient.</strong> The identifier could be the patient's initials, or simply <i>stroke</i> or <i>trauma</i> or <i>ambo</i>.
    </div>
    <div class="Box-body">
        On their first turn, each doctor will be assigned three patients. The rotation will not advance until three patients have been assigned to any physician on their first turn.
    </div>
  </div>