<div class="Subhead mt-4">
    <p class="Subhead-heading h2">Tips</p>
</div>

<div class="Box Box--blue mt-2">
    <div class="Box-header h5">
        Physician's First Turns
    </div>
    <div class="Box-body">
        On their first turn, each doctor will be assigned three patients. The rotation will not advance until three patients have been assigned to any physician on their first turn.
    </div>
</div>

  