<div class="popover" id="addDoctorPopover">
  <button class="secondary" @click="toggleAddShiftPopover">
    <%- include('../icons/doctor.svg'); %>Add Team
  </button>
  <div class="popoverWrapper" v-if="ui.showAddShiftPopover">
    <div class="popoverBlocker" @click="toggleAddShiftPopover"></div>
    <div class="popoverContent">
      <form class="newDoctorForm">

        <select v-model="forms.addShift.doctor">
          <option disabled value="">Team:</option>
          <option v-for="doctor in doctors" :value="doctor">
            {{ doctor.first }} - {{ doctor.last }}
          </option>
        </select>
        <div class="warn" v-if="forms.addShift.shift.id === 1">
          Adding Alpha Day - 6 am Team will reset the whole board.
        </div>
        <select v-model="forms.addShift.rotationId">
          <option disabled value="">Rotation:</option>
          <option v-for="rot in board.rotations" :value="rot.id">
            {{ rot.name }}
          </option>
        </select>
        <button
          class="secondary"
          type="submit"
          @click="addShift"
          :disabled="!addShiftComplete()"
        >
          Add
        </button>
      </form>
    </div>
  </div>
</div>
