<div class="popover" id="addDoctorPopover">
  <button class="secondary" @click="toggleAddShiftPopover">
    <%- include('../icons/doctor.svg'); %>Add Clinician
  </button>
  <div class="popoverWrapper" v-if="ui.showAddShiftPopover">
    <div class="popoverBlocker" @click="toggleAddShiftPopover"></div>
    <div class="popoverContent">
      <form class="newClinicianForm">
        <select v-model="forms.addShift.clinicianId">
          <option disabled value="">Clinician:</option>
          <option v-for="clinician in site.clinicians" :value="clinician.id">
            {{ clinician.lname }}, {{ clinician.fname }}
          </option>
        </select>
        <select v-model="forms.addShift.shiftTypeId">
          <option disabled value="">Shift:</option>
          <option v-for="shiftType in site.shift_types" :value="shiftType.id">
            {{ shiftType.name }}
          </option>
        </select>
        <div class="warn" v-if="forms.addShift.shiftTypeId === 1">
          Adding 6 am shift will reset the whole board.
        </div>
        <select v-model="forms.addShift.zoneId">
          <option disabled value="">Zone:</option>
          <option v-for="zone in site.zones" :value="zone.id">
            {{ zone.name }}
          </option>
        </select>
        <button
          class="secondary"
          type="submit"
          @click="addShift"
          :disabled="!addShiftComplete()"
        >
          Add
        </button>
      </form>
    </div>
  </div>
</div>
