<div class="popover">
  <button
    @click="toggleAssign(shift.id+shift.zone)"
    class="assignButtonFasttrack"
  >
    <%- include('../icons/walkin.svg'); %> Assign
  </button>
  <div class="popoverWrapper" v-if="assignPopoverOpen(shift.id+shift.zone)">
    <div class="popoverBlocker" @click="toggleAssign(shift.id+shift.zone)"></div>
    <div class="popoverContent">
      <div>Assign FT patient:<br><br></div>
<select v-model="forms.assign.room">
  <option selected disabled value="">Room:</option>
  <option v-for="room in rooms" :value="room">{{ room }}</option>
</select>
      <button
        class="secondary"
        @click="assignPatientFasttrack(shift.id)"
        :disabled="!forms.assign.room"
      >
        Assign
      </button>
    </div>
  </div>
</div>
