
<ul class="assignType">
  <li v-for="ptType in forms.assignTypes">
    <input
      type="radio"
      name="type"
      :id="ptType.type"
      v-model="forms.assign.type"
      :value="ptType.type"
    />
    <label
      :for="ptType.type"
      :class="[ptType.type === forms.assign.type ? 'assignTypeSelected' : '']"
      :data-tooltip="ptType.tip"
    >
      <img :src="ptType.icon" />
    </label>
  </li>
</ul>

<select v-model="forms.assign.room">
  <option selected disabled value="">Room:</option>
  <option v-for="room in zone.rooms" :value="room">{{ room }}</option>
</select>
