<div class="event">
  <div class="eventBox">
    <div
      class="eventIcon"
      :class="[
        event.event_type_id !== 'assign' ? 'eventIconBell' : '', 
        event.event_type_id === 'ambo' ? 'eventIconAmbo' : '',
        event.event_type_id === 'ft' ? 'eventIconFt' : '',
        event.event_type_id === 'walkin' ? 'eventIconWalkin' : '',
        event.event_type_id === 'bonus' ? 'eventIconBonus' : ''
      ]"
    ></div>

    <!-- non-assign event -->
    <div v-if="event.event_type_id !==1">
      <div class="eventTime">{{ event.time }}</div>
      <div>{{ event.message }}</div>
    </div>

    <!-- assign event -->
    <div v-else class="eventAssignDetail">
      <div>
        <div class="eventTime">{{ event.time }}</div>
        <div class="eventAssignDoc">
          {{ event.shift.clinician.fname }} {{ event.shift.clinician.lname }}
        </div>
        <div class="eventReassign" v-if="event.secondary">
        {{ event.secondary}}
        </div>
        
      </div>

      <div class="eventAssignRoom">
        <div>{{ event.patient.room }}</div>
        <template v-if="!event.reassign"
          ><%- include('./reassignPopover.ejs') %></template
        >
      </div>
    </div>
  </div>

  <div v-if="index === 0">
    <button class="undo secondary outline" @click="undo">
      <%- include ('../icons/undo.svg') %> Undo
    </button>
  </div>
</div>
