<nav>
  <ul>
    <li><img src="/pat.svg" width="70" /></li>
    <li class="siteName">
      <strong>Patient Assignment Tools</strong><small> v1.0</small>
    </li>
  </ul>
  <ul>
    <li><a href="https://patientassignmenttools-quickref.netlify.app" target="_blank">Quick Reference</a></li> 
    <li><%- include('./addShiftPopover.ejs'); %></li>
    <li>
      <a role="button" class="contrast" href="/logout">
        Logout <%- include('../icons/logout.svg'); %>
      </a>
    </li>
  </ul>
</nav>
