<template v-for="shift in findShiftsByRotation(rotation.id)">
  <div class="shiftBox" :class="getShiftClasses(rotation, shift)">
    <div v-if="isNext(rotation, shift)" class="shiftNextFlag">next in rotation</div>
    <div v-if="shift.doctor.app && !isNext(rotation, shift)" class="shiftFtFlag">taking fast track patients</div>
    <%- include('./shiftControls.ejs'); %>

    <div class="shiftContent">
      <div>
        <div class="shiftDoc">
          {{ shift.doctor.first }} {{ shift.doctor.last }}
        </div>
      </div>
      <div class="shiftButtons">
        <span v-if="isNextMidlevel(rotation, shift)" class="nextMidlevel">Next APP</span>

        <button v-if="shift.skip" class="outline secondary shiftSkip" data-tooltip="Click to cancel skip" @click="toggleSkip(shift.id)">Skips Next</button>
        <template v-if="nurse && isNext(rotation, shift)">
          <%- include('./assignPopover.ejs'); %>
        </template>
        
      </div>
    </div>
    <ul class="shiftCounts">
      <li v-for="(count, key) in shift.counts">
        {{ key }} <span class="shiftCountNumber">{{ count }}</span>
      </li>
    </ul>
  </div>
</template>
