
  <div class="shiftBox" :class="{shiftNext : isNext(shift.id)}">
    <div v-if="isNext(shift.id)" class="shiftNextFlag">next in rotation</div>
    <%- include('./shiftControls.ejs'); %>

    <div class="shiftContent">
      <div>
        <div class="shiftDoc">
          {{ shift.provider.first }} {{ shift.provider.last }}
        </div>
      </div>
      <div class="shiftButtons">
        <template v-if="showAssignButton(shift.id)">
          <div class="assignButton">
            <%- include('./assignPopover.ejs'); %>
          </div>
        </template>
      </div>
    </div>
    <ul class="shiftCounts">
      <li v-for="(count, key) in shift.counts">
        {{ key }} <span class="shiftCountNumber">{{ count }}</span>
      </li>
    </ul>
  </div>

