<template v-for="shift in getShiftsForZone(zone.id)">
  <div class="shiftBox" 
    :class="{ 
      'shiftNext': isNext(zone, shift), 
      'shiftApp': isMidlevelShift(shift) 
    }"
  >
    <!-- Next Flag -->
    <div v-if="isNext(zone, shift)" class="shiftNextFlag">
      next patient
    </div>
    <!-- FT Flag -->
    <div v-if="shift.clinician.clinician_type_id === 2 && !isNext(zone, shift)" 
      class="shiftFtFlag">
      next fast track patient
    </div>
    <!-- Shift Controls -->
    <%- include('./shiftControls.ejs'); %>
    
    <div class="shiftContent">
      <div>
        <div class="shiftClinician">
          {{ shift.clinician.fname }} {{ shift.clinician.lname }}
        </div>
      </div>
      <div class="shiftButtons">
        <span v-if="isNextSupervisor(zone, shift)" class="nextSupervisor"><%- include('../icons/people.svg'); %> Next APP</span>
        <button v-if="shift.skip" class="outline secondary shiftSkip" data-tooltip="Click to cancel skip" @click="toggleSkip(shift.id)">Skips Next</button>
        <template v-if="isNext(zone, shift)">
          <%- include('./assignPopover.ejs'); %>
        </template>
        
      </div>
    </div>
    <ul class="shiftCounts">
      <li>Patients: {{ shift.patients.length }}</li>
      <li v-if="isDocShift(shift)">Supervised: {{ shift.supervised_patients.length }}</li>
    </ul>
  </div>
</template>