
  <div class="shiftBox" :class="getShiftClasses(shift)">
    <div v-if="shift.zone === 'rotation' && isNext(shift.id)" class="shiftNextFlag">next in rotation</div>
    
    <div v-if="shift.zone !== 'fasttrack'"><%- include('./shiftControls.ejs'); %></div>

    <div class="shiftContent">
      <div>
        <div class="shiftDoc">
          {{ shift.provider.first }} {{ shift.provider.last }}
        </div>
      </div>
      <div class="shiftButtons">
        <template v-if="showAssignButton(shift)">
          <div class="assignButton">
            <%- include('./assignPopover.ejs'); %>
          </div>
        </template>
      </div>
    </div>
    <ul class="shiftCounts">
      <li v-for="(count, key) in shift.counts">
        {{ key }} <span class="shiftCountNumber">{{ count }}</span>
      </li>
    </ul>
  </div>

