
  <div class="shiftBox" :class="getShiftClasses(shift)">
    <div v-if="shift.zone === 'rotation' && isNext(shift.id)" class="shiftNextFlag">next in rotation</div>
    
    <div v-if="shift.zone !== 'fasttrack'"><%- include('./shiftControls.ejs'); %></div>

    <div class="shiftContent">
      <div>
        <div class="shiftDoc">
          {{ shift.provider.first }} {{ shift.provider.last }}
        </div>
        <div v-if="shift.app && shift.zone!=='off'" role="group" class="shiftControlsApp">
          <button v-if="shift.zone==='rotation'" class="secondary outline" @click="appFlexOff(shift.id)">Flex Off</button>
          <button v-if="shift.zone==='flex'" class="secondary outline" @click="appFlexOn(shift.id)">Flex On</button>
          <button v-if="!isFT(shift.id)" v-if="shift.zone!=='fasttrack'" class="secondary outline" @click="joinFT(shift.id)">Join FT</button>
          <button v-if="isFT(shift.id) && shift.zone==='fasttrack'" class="secondary outline" @click="leaveFT(shift.id)">Leave FT</button>
        </div>
      </div>
      <div class="shiftButtons">
        <template v-if="showAssignButton(shift)">
          <div class="assignButton">
            <%- include('./assignPopover.ejs'); %>
          </div>
        </template>
        <span v-if="board.next.sup === shift.id" class="nextMidlevel"><%- include('../icons/people.svg'); %> Supervisor</span>
      </div>
    </div>
    <ul class="shiftCounts">
      <li v-if="shift.counts.total > 0">Patients: {{ shift.counts.total }}</li>
      <li v-if="shift.counts.app > 0">w/APP: {{ shift.counts.app }}</li>
    </ul>
  </div>

