<html>
  <head>
    <link rel="stylesheet" href="pico.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.colors.min.css"
    />
    <link rel="stylesheet" href="styles.css" />
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body class="container">
    <div id="app" v-cloak>
      <%- include('./partials/nav.ejs'); %>

      <main>
        <section class="timeline">
          <h4>Timeline</h4>
          <hr />
        </section>
        <section class="mainRotation">
          <h4>Main Rotation</h4>
          <hr />
          <template v-for="shift in board.rotations.main.shifts">
            <%- include('./partials/shift.ejs'); %>
          </template>
        </section>
        <section class="otherRotations">
          <h4>Fast Track</h4>
          <hr />
          <template v-for="shift in board.rotations.fasttrack.shifts">
            <%- include('./partials/shift.ejs'); %>
          </template>
          <h4>Off Rotation</h4>
          <hr />
          <template v-for="shift in board.rotations.off.shifts">
            <%- include('./partials/shift.ejs'); %>
          </template>
        </section>
      </main>

      <p>Is nurse? {{ nurse }}</p>
      <div>{{ board }}</div>
    </div>
    <script src="./dummy.js"></script>
    <script src="./app.js" type="module"></script>
  </body>
</html>
