<html>
  <head>
    <link rel="stylesheet" href="pico.min.css" />
    <link rel="stylesheet" href="styles.css" />
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body class="container">
    <div id="app" v-cloak>
      {% include "./partials/nav.html" %}

      <main>
        <section class="timeline">
          <h4>Timeline</h4>
          <hr />
        </section>
        <section class="mainRotation">
          <h4>Main Rotation</h4>
          <hr />
        </section>
        <section class="otherRotations">
          <h4>Fast Track</h4>
          <hr />
          <h4>Off Rotation</h4>
          <hr />
          <div class="shiftBox">
            <div class="shiftMain">
              <div>
                <div class="shiftName">6 am | FT 1pm - 2pm</div>
                <div class="shiftDoc">Kelly Blake</div>
              </div>
              <div>
                <button class="contrast">
                  Assign &nbsp;&nbsp;{% include './icons/walkin.html' %}
                </button>
              </div>
            </div>
            <ul>
              <li>total: <span>5</span></li>
              <li>walk-in: <span>2</span></li>
            </ul>
          </div>
        </section>
      </main>
      {% raw %}
      <p>{{ user }}</p>
      {% endraw %}
    </div>
    <script src="./app.js" type="module"></script>
  </body>
</html>
