<%- include('partials/html_head') %>
<body>
    <div class="Header color-bg-accent-emphasis">
        <div class="Header-item"><span>Patient Assignment Tool</span></div>
    </div>
    <div class="blankslate">
        <img src="https://ghicons.github.com/assets/images/blue/png/Developers.png" alt="" class="blankslate-image" />
        <h3 class="blankslate-heading">Welcome to the Patient Assignment Tool</h3>
        <p>Please login for the appropriate role.</p>
        <div class="blankslate-action">
          <a class="btn btn-outline" href="/doctor">Doctor</a>
        </div>
        <div class="blankslate-action">
            <a class="btn btn-outline" href="/triage">Triage/Charge Nurse</a>
          </div>
    </div>
</body>
</html>