<%- include('partials/html_head') %>
<body>
    <div class="Header color-bg-accent-emphasis">
        <div class="Header-item"><span>Patient Assignment Tool</span></div>
    </div>
    <div class="blankslate">
        <img src="https://ghicons.github.com/assets/images/blue/png/Developers.png" alt="" class="blankslate-image" />
        <h3 class="blankslate-heading">Welcome to the Patient Assignment Tool</h3>
        <p>Please login for the appropriate role.</p>
        <div class="blankslate-action">
          <a class="btn btn-outline" href="/auth">Doctor Login</a>
        </div>
        <div class="mt-7">
            <p class="h4">Triage/Charge Nurse Login</p>
            <form action="/login/password" method="post">
                <!-- <section>
                    <label for="username">Username</label>
                    </section> -->
                <section class="mt-2">
                    <label for="current-password">Password</label>
                    <input id="current-password" class="form-control" name="password" type="password" autocomplete="current-password" required>
                </section>
                <input id="username" class="form-control" name="username" type="text" autocomplete="username" value="triage" hidden>
                <button class="btn mt-2" type="submit">Sign in</button>
            </form>
            
        </div>
    </div>
</body>
</html>