<%- include('partials/html_head') %>
<body v-scope @vue:mounted="mounted">
    <%- include('partials/nav_header_blank') %>
    <section class="d-flex flex-justify-center">
    <div class="blankslate blankslate-large col-4 text-left">
        <div class="Subhead">
            <p class="Subhead-heading h2">Triage</p>
        </div>
        <div class="p-2 pb-4 pl-4 color-bg-inset ">
            <form action="/login/password" method="post">
                <section class="mt-2">
                    <label for="current-password">Password</label><br>
                    <input id="current-password" class="form-control" name="password" type="password" autocomplete="current-password" required>
                    <button class="btn" type="submit">Sign in</button>
                    <input id="username" class="form-control" name="username" type="text" autocomplete="username" value="triage" hidden>
                </section>
            </form>
        </div>

        <div class="Subhead Subhead--spacious">
            <p class="Subhead-heading h2">Physician</p>
        </div>
        <div class="p-2 pb-4 pl-4 color-bg-inset ">
            <form action="/login/password" method="post">
                <section class="mt-2">
                    <label for="current-password">Password</label><br>
                    <input id="current-password" class="form-control" name="password" type="password" autocomplete="current-password" required>
                    <button class="btn" type="submit">Sign in</button>
                    <input id="username" class="form-control" name="username" type="text" autocomplete="username" value="doctor" hidden>
                </section>
            </form>
        </div>
        <!-- <div class="flash-messages">
            <div class="flash">
              Use your <strong>@carepointhc.com</strong> email address
            </div>
          </div>
        <a class="btn btn-outline btn-large" href="/auth">Sign In</a> -->

    </div>
</section>
</body>
</html>