<!-- 'page' is variable passed to template for URL stub of current pages
checks if the current page matches the menu element and adds active class if <source> -->

<ul>
  <li <% if (page === 'home') { %>class="active"<% } %>><a href="home">Home</a></li>
  <li <% if (page === 'dot') { %>class="active"<% } %>><a href="dot">Dot Phrases</a></li>
</ul>

