[v-cloak] {
  display: none;
}

/* MOD PICO */
:root {
  --pico-font-size: 106.25%;
  --my-muted-background: #b3b9c5;
}

button {
  padding: calc(var(--pico-spacing) / 2) var(--pico-spacing);
}

/* Dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --my-muted-background: #525f7a;
  }
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --my-muted-background: #525f7a;
}

/* MAIN LAYOUT */
nav {
  margin-bottom: 2rem;
}

main {
  display: flex;
  align-items: stretch;
  gap: 2em;
}
section.timeline {
  width: 30%;
}
section.mainRotation {
  width: 40%;
}
section.otherRotations {
  width: 30%;
}

/* SHIFT BOX */
.shiftBox {
  border-radius: var(--pico-border-radius);
  background-color: var(--my-muted-background);
  border: 1px solid lightgray;
  padding: var(--pico-spacing);
  margin-bottom: var(--pico-spacing);
}

.shiftMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shiftName {
  font-size: 90%;
  color: var(--pico-muted-color);
}

.shiftDoc {
  font-size: 150%;
  font-weight: bold;
}

.shiftBox ul {
  padding: 0;
  padding-top: calc(var(--pico-spacing) / 2);
  margin: 0;
  display: flex;
  gap: calc(var(--pico-spacing) / 2);
  font-size: 70%;
}

.shiftBox li {
  display: inline;
  padding: 2px 4px;

  background-color: lightgray;
  border-radius: 5px;
  text-transform: uppercase;
}

.shiftCountNumber {
  display: inline-block;
  background-color: white;
  border-radius: 25px;
  padding: 0 5px;
  margin: 2px 5px;
}

/* POPOVERS */
.popover {
  position: relative;
  z-index: 10;
}

.popoverBlocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.popoverContent {
  position: absolute;
  display: flex;
  right: 0;
  margin: var(--pico-spacing) 0;
  padding: var(--pico-spacing);
  background-color: var(--pico-background-color);
  border-radius: var(--pico-border-radius);
  filter: drop-shadow(1px 1px 5px #a1a1a1);
  width: 250px;
}

.newDoctorForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--pico-spacing);
}
