[v-cloak] {
  display: none;
}

/* MOD PICO */
:root {
  --pico-font-size: 106.25%;
  --box-shadow: -1px 1px 36px 0px #a3a3a3;
  --pico-spacing-half: calc(var(--pico-spacing) / 2);
  --my-background: rgb(249 250 251);
  --my-muted-background: #b3b9c5;
  --my-ft-background: #d7fbc1;
  --my-ft-border: #55c21e;
  --my-next-background: #ffbf00;
  --my-light-gray: lightgray;
  --my-light-red: rgb(243, 143, 121);
}

button {
  display: inline-flex;
  justify-content: center;
  gap: var(--pico-spacing-half);
  align-items: center;
  padding: calc(var(--pico-spacing) / 2) var(--pico-spacing);
}

/* Dark color scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --my-muted-background: #525f7a;
  }
}

/* Dark color scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --my-muted-background: #525f7a;
}

/* MAIN COLORS */
body {
  background-color: var(--my-background);
  color: var(--pico-color);
}

/* MAIN LAYOUT */
nav {
  margin-bottom: 2rem;
}

main {
  display: flex;
  align-items: stretch;
  gap: 2em;
}
section.timeline {
  width: 30%;
}
section.mainRotation {
  width: 40%;
}

.skipControls {
  display: flex;
  justify-content: space-between;
}

section.otherRotations {
  width: 30%;
}

/* SHIFT BOX */
.shiftBox {
  border-radius: var(--pico-border-radius);
  border: 2px solid var(--my-light-gray);
  background-color: var(--pico-background-color);
  margin-bottom: var(--pico-spacing);
}

.shiftNext {
  border-color: var(--my-next-background);
  box-shadow: var(--box-shadow);
}

.shiftBox + .shiftNext {
  background-color: lightyellow;
}

.shiftNextFlag {
  display: none;
  background-color: var(--my-next-background);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
  text-align: center;
  padding: 1px 0;
}

.shiftNext > .shiftNextFlag {
  display: block;
}

.shiftOff {
  background-color: var(--my-muted-background);
}

.shiftFastTrack {
  background-color: var(--my-ft-background);
  border-color: var(--my-ft-border);
}

.shiftControls {
  background-color: var(--my-light-gray);
  display: flex;
  justify-content: space-between;
  padding: calc(var(--pico-spacing) / 2);
}

.shiftControls [role="group"] {
  margin-bottom: 0;
}

.shiftControls button {
  font-size: 70%;
  padding: calc(var(--pico-spacing-half) / 3) var(--pico-spacing-half);
}

.shiftControlsRight {
  display: flex;
  gap: var(--pico-spacing-half);
}

.shiftContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--pico-spacing);
}

.shiftName {
  font-size: 90%;
}

.shiftDoc {
  font-size: 150%;
  font-weight: bold;
}

.shiftBox ul {
  padding: 0 var(--pico-spacing) var(--pico-spacing) var(--pico-spacing);
  margin: 0;
  display: flex;
  justify-content: left;
  gap: calc(var(--pico-spacing) / 2);
  font-size: 90%;
}

.shiftBox li {
  display: inline;
  text-transform: capitalize;
  color: var(--pico-muted-color);
}

.shiftBox li:not(:last-child)::after {
  content: "|";
  margin-left: calc(var(--pico-spacing) / 2);
}

.shiftCountNumber {
  font-weight: bold;
}

/* .shiftBox li {
  display: inline;
  padding: 2px 8px;
  background-color: var(--my-light-gray);
  border-radius: 5px;
  text-transform: uppercase;
}

.shiftCountNumber {
  display: inline-block;
  background-color: white;
  border-radius: 30px;
  padding: 0 8px;
  margin: 2px 5px;
} */

/* POPOVERS */
.popover {
  position: relative;
  display: inline;
}

.popoverBlocker {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.popoverContent {
  position: absolute;
  z-index: 10;
  display: flex;
  right: 0;
  top: 2rem;
  padding: var(--pico-spacing);
  background-color: var(--pico-background-color);
  border-radius: var(--pico-border-radius);
  box-shadow: var(--box-shadow);
  width: 300px;
}

.newDoctorForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--pico-spacing);
}

/* TIMELINE */
.event {
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--my-light-gray);
}

.eventBox {
  display: flex;
  position: relative;
  left: -16px;
  gap: var(--pico-spacing);
  align-items: center;
  padding: var(--pico-spacing) 0;
  color: var(--pico-muted-color);
  font-size: 90%;
}

.eventAssignDetail {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--my-light-gray);
  background-color: var(--pico-background-color);
  padding: var(--pico-spacing-half) var(--pico-spacing);
  border-radius: var(--pico-border-radius);
}

.eventAssignDoc {
  font-size: 115%;
  font-weight: bold;
}

.eventAssignRoom {
  display: flex;
  gap: calc(var(--pico-spacing));
  align-items: center;
}

.eventAssignRoom > div {
  font-size: 115%;
  font-weight: bold;
}

.eventAssignRoom button {
  padding: 0px 4px;
}

.eventIcon {
  display: block;
  border-radius: 30px;
  height: 30px;
  width: 30px;
  background-size: 16px 16px;
  background-position: center;
}

.eventIconBell {
  background-image: url("./icons/bell.svg");
  background-color: var(--my-light-gray);
}

.eventIconAmbo {
  background-image: url("./icons/ambo.svg");
  background-color: var(--my-light-red);
}

.eventIconWalkin {
  background-image: url("./icons/walkin.svg");
  background-color: var(--my-light-red);
}

.eventIconFt {
  background-image: url("./icons/ft.svg");
  background-color: var(--my-ft-background);
}

.eventIconBonus {
  background-image: url("./icons/bonus.svg");
  background-color: var(--my-light-red);
}

.undo {
  font-size: 90%;
  float: right;
  margin-right: 16px;
}
