.subName {
  font-size: 65%;
  line-height: 0.7;
  font-weight: bold;
  color: var(--my-next-background);
}

main.docs {
  justify-content: center;
  padding-bottom: calc(var(--pico-spacing) * 5);
}

.docs_nav {
  width: 20%;
}

.docs_nav ul {
  margin: 0;
  padding: 0;
}

.docs_nav li {
  list-style: none;
  margin: 0;
  padding: var(--my-padding);
  border-left: 1px solid var(--my-light-gray);
}

.docs_nav li.active {
  border-left: 2px solid black;
}

.docs_nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  text-transform: capitalize;
}

.docs_nav li:hover {
  border-left: 2px solid black;
}

.docs_content {
  width: 70%;
  padding-right: calc(var(--pico-spacing) * 10);
}

.docs_content th {
  font-weight: bold;
  font-size: 150%;
}

.docs_content td,
.docs_content th {
  background-color: transparent;
}
